In [1]:
%matplotlib inline
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import seaborn as sns
#import pyplot as plt
from functools import reduce
from datetime import date
from datetime import datetime
#from dtale.views import startup
#import dtale
# os and glob help concat multiple csv files into one
import os
import glob

Populating the interactive namespace from numpy and matplotlib

In [15]:
RDC = pd.read_csv('../data/RDC_Inventory_Core_Metrics_County_History.csv')
RDC.shape

C:\Users\yashaclone\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(201325, 40)

In [16]:
RDC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201325 entries, 0 to 201324
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        201325 non-null  object
 1   county_fips                              201325 non-null  object
 2   county_name                              201324 non-null  object
 3   median_listing_price                     201294 non-null  float64
 4   median_listing_price_mm                  164053 non-null  float64
 5   median_listing_price_yy                  163262 non-null  float64
 6   active_listing_count                     201294 non-null  float64
 7   active_listing_count_mm                  163981 non-null  float64
 8   active_listing_count_yy                  163148 non-null  float64
 9   median_days_on_market                    201324 non-null  float64
 10  median_days_on_market_mm                 164075 non-null  float64
 11  median_days_on_market_yy                 163281 non-null  float64
 12  new_listing_count                        201294 non-null  float64
 13  new_listing_count_mm                     139630 non-null  float64
 14  new_listing_count_yy                     139501 non-null  float64
 15  price_increased_count                    201294 non-null  float64
 16  price_increased_count_mm                 43322 non-null   float64
 17  price_increased_count_yy                 44508 non-null   float64
 18  price_reduced_count                      201294 non-null  float64
 19  price_reduced_count_mm                   128632 non-null  float64
 20  price_reduced_count_yy                   132014 non-null  float64
 21  pending_listing_count                    201324 non-null  float64
 22  pending_listing_count_mm                 164374 non-null  float64
 23  pending_listing_count_yy                 164374 non-null  float64
 24  median_listing_price_per_square_foot     200854 non-null  float64
 25  median_listing_price_per_square_foot_mm  163758 non-null  float64
 26  median_listing_price_per_square_foot_yy  162766 non-null  float64
 27  median_square_feet                       200854 non-null  float64
 28  median_square_feet_mm                    163758 non-null  float64
 29  median_square_feet_yy                    162766 non-null  float64
 30  average_listing_price                    201294 non-null  float64
 31  average_listing_price_mm                 164053 non-null  float64
 32  average_listing_price_yy                 163262 non-null  float64
 33  total_listing_count                      201294 non-null  float64
 34  total_listing_count_mm                   164051 non-null  float64
 35  total_listing_count_yy                   163260 non-null  float64
 36  pending_ratio                            180051 non-null  float64
 37  pending_ratio_mm                         146731 non-null  float64
 38  pending_ratio_yy                         139891 non-null  float64
 39  quality_flag                             201324 non-null  float64
dtypes: float64(37), object(3)
memory usage: 61.4+ MB

In [17]:
citysa03 = pd.read_csv('../data/City_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv')
citysa03.shape

(25740, 270)

In [26]:
citysa03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25740 entries, 0 to 25739
Columns: 270 entries, RegionID to 2021-10-31
dtypes: float64(262), int64(2), object(6)
memory usage: 53.0+ MB

In [ ]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#print(df.columns.tolist())

In [25]:
print(citysa03.columns.tolist())

['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31']

In [27]:
citysa03.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,254627.0,256451.0,...,690070.0,693003.0,695699.0,697993.0,701709.0,705479.0,709296.0,712947.0,718243.0,724021.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,245756.0,245998.0,...,849032.0,857933.0,868009.0,882631.0,901529.0,923802.0,948590.0,964132.0,975550.0,979481.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,110204.0,110201.0,...,212947.0,215383.0,216610.0,218340.0,220517.0,225143.0,230199.0,235682.0,239881.0,243505.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,166387.0,166727.0,...,270064.0,273122.0,275493.0,279295.0,280594.0,282984.0,285547.0,288966.0,291326.0,293595.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,105910.0,106077.0,...,206252.0,208578.0,210943.0,214204.0,218202.0,223664.0,228617.0,233845.0,237341.0,241104.0

In [28]:
metrosales = pd.read_csv('../data/Metro_sales_count_now_uc_sfrcondo_month.csv')
metrosales.shape

(95, 170)

In [29]:
metrosales.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
0,102001,0,United States,Country,NaN,184873.0,218910.0,240814.0,259644.0,274798.0,...,343177.0,329579.0,445615.0,459204.0,460338.0,534504.0,493930.0,486620.0,454487.0,453807.0
1,394913,1,"New York, NY",Msa,NY,8105.0,8806.0,9534.0,9812.0,10300.0,...,18345.0,15591.0,19511.0,17653.0,17001.0,21826.0,21429.0,21790.0,19770.0,19616.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,3592.0,4350.0,5163.0,5666.0,5798.0,...,7490.0,7330.0,10456.0,11132.0,10242.0,11342.0,10424.0,10004.0,9742.0,9234.0
3,394463,3,"Chicago, IL",Msa,IL,4883.0,5878.0,6614.0,6666.0,7769.0,...,11836.0,10547.0,12834.0,14610.0,14010.0,16925.0,NaN,17282.0,16441.0,13621.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,5024.0,6114.0,6866.0,7110.0,7302.0,...,6516.0,6182.0,8638.0,9249.0,9453.0,10599.0,9970.0,9675.0,9783.0,10022.0

In [2]:
redfinsales = pd.read_csv('../data/redfin_2021-12-09-17-27-26.csv')
redfinsales.shape

(350, 27)

In [3]:
redfinsales.head()

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,PAST SALE,April-20-2021,Single Family Residential,627 Skyview Dr,Nashville,TN,37206,400000,3.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/TN/Nashville/627-Skyvie...,REALTRACS,2231104.0,N,Y,36.180026,-86.731441
1,PAST SALE,May-12-2021,Single Family Residential,1613 Jacksons Valley Pl,Hermitage,TN,37076,361000,3.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/TN/Hermitage/1613-Jacks...,REALTRACS,2243115.0,N,Y,36.188682,-86.603974
2,PAST SALE,June-3-2021,Single Family Residential,2076 Stanford Village Dr,Antioch,TN,37013,336000,3.0,2.5,...,Sold,NaN,NaN,https://www.redfin.com/TN/Antioch/2076-Stanfor...,REALTRACS,2249303.0,N,Y,36.021574,-86.689006
3,PAST SALE,June-21-2021,Single Family Residential,1827 Cephas St,Nashville,TN,37208,460000,3.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/TN/Nashville/1827-Cepha...,REALTRACS,2253455.0,N,Y,36.182059,-86.806558
4,PAST SALE,August-5-2021,Single Family Residential,7620 Staffordshire Dr,Nashville,TN,37221,475000,3.0,2.5,...,Sold,NaN,NaN,https://www.redfin.com/TN/Nashville/7620-Staff...,REALTRACS,2267139.0,N,Y,36.064080,-86.971667

In [4]:
#drops columns that have only NAN values
redfinsales.dropna(how='all', axis=1, inplace=True)

In [5]:
print(redfinsales.columns.tolist())

['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY', 'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS', 'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)', 'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE']

In [6]:
#drop column
redfinsales = redfinsales.drop(['FAVORITE', 'INTERESTED', 'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)'], axis=1)

In [7]:
#drop another column
redfinsales = redfinsales.drop(['SALE TYPE'], axis=1)

In [8]:
#rename columns
redfinsales = redfinsales.rename(columns={'STATE OR PROVINCE': 'State'})
redfinsales = redfinsales.rename(columns={'ZIP OR POSTAL CODE': 'Zipcode'})
redfinsales = redfinsales.rename(columns={'SQUARE FEET': 'Sqft2'})
redfinsales = redfinsales.rename(columns={'HOA/MONTH': 'HOA'})
redfinsales = redfinsales.rename(columns={'$/SQUARE FEET': 'Pricepersqft'})

In [9]:
redfinsales.head()

,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,State,Zipcode,PRICE,BEDS,BATHS,LOCATION,Sqft2,LOT SIZE,YEAR BUILT,Pricepersqft,HOA,STATUS,SOURCE,MLS#,LATITUDE,LONGITUDE
0,April-20-2021,Single Family Residential,627 Skyview Dr,Nashville,TN,37206,400000,3.0,1.0,Rolling Acres,1704.0,11325.0,1945.0,235.0,NaN,Sold,REALTRACS,2231104.0,36.180026,-86.731441
1,May-12-2021,Single Family Residential,1613 Jacksons Valley Pl,Hermitage,TN,37076,361000,3.0,2.0,Ridgemere,1895.0,16117.0,1992.0,191.0,NaN,Sold,REALTRACS,2243115.0,36.188682,-86.603974
2,June-3-2021,Single Family Residential,2076 Stanford Village Dr,Antioch,TN,37013,336000,3.0,2.5,Stanford Village,1641.0,9147.0,2001.0,205.0,25.0,Sold,REALTRACS,2249303.0,36.021574,-86.689006
3,June-21-2021,Single Family Residential,1827 Cephas St,Nashville,TN,37208,460000,3.0,2.0,Cephas Woodard,1779.0,5662.0,2017.0,259.0,NaN,Sold,REALTRACS,2253455.0,36.182059,-86.806558
4,August-5-2021,Single Family Residential,7620 Staffordshire Dr,Nashville,TN,37221,475000,3.0,2.5,Sheffield On The Harpeth,1843.0,11325.0,1987.0,258.0,75.0,Sold,REALTRACS,2267139.0,36.064080,-86.971667

In [10]:
redfinsales = redfinsales['CITY'].value_counts()
print(redfinsales)

Nashville         211
Antioch            51
Madison            17
Hermitage          13
Nolensville        12
Old Hickory         9
Goodlettsville      8
Brentwood           5
Joelton             4
GOODLETTSVILLE      3
NASHVILLE           2
BRENTWOOD           2
ANTIOCH             2
WHITES CREEK        2
MADISON             2
Pegram              2
OLD HICKORY         2
Whites Creek        2
JOELTON             1
Name: CITY, dtype: int64