In [2]:
%matplotlib inline
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import seaborn as sns
#import pyplot as plt
from functools import reduce
from datetime import date
from datetime import datetime
#from dtale.views import startup
#import dtale
# os and glob help concat multiple csv files into one
import os
import glob

Populating the interactive namespace from numpy and matplotlib

In [3]:
januarylistings = pd.read_csv('../data/January2021listings.csv')
januarylistings.shape

(6112, 16)

In [4]:
januarylistings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6112 entries, 0 to 6111
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6112 non-null   int64
 1   name                            6112 non-null   object
 2   host_id                         6112 non-null   int64
 3   host_name                       6110 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   6112 non-null   object
 6   latitude                        6112 non-null   float64
 7   longitude                       6112 non-null   float64
 8   room_type                       6112 non-null   object
 9   price                           6112 non-null   int64
 10  minimum_nights                  6112 non-null   int64
 11  number_of_reviews               6112 non-null   int64
 12  last_review                     5224 non-null   object
 13  reviews_per_month               5224 non-null   float64
 14  calculated_host_listings_count  6112 non-null   int64
 15  availability_365                6112 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 764.1+ KB

In [5]:
januarylistings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6422,Nashville Charm,12172,Michele,NaN,District 6,36.17315,-86.73581,Private room,40,30,674,2020-03-03,4.72,1,236
1,25613,Room in Historic East Nashville Craftsman Home,95811,Nell,NaN,District 6,36.17826,-86.74162,Private room,75,2,510,2020-03-14,3.90,1,32
2,136015,Apart. on the Ridge near Opryland,666322,Dave And Peggy,NaN,District 15,36.19464,-86.67195,Entire home/apt,103,30,50,2020-08-04,0.43,2,1
3,137063,Furnished basement room for rent,670408,Richard,NaN,District 26,36.09212,-86.71302,Private room,50,1,0,NaN,NaN,1,365
4,258817,ButterflyRoom-private bath- open Jan 26,22296,Diana,NaN,District 12,36.16249,-86.58988,Private room,27,30,96,2019-12-14,0.87,7,364

In [6]:
all_filenames = [i for i in glob.glob('../data/*.{}'.format('csv'))]

In [7]:
print(all_filenames)

['../data\\April2021listings.csv', '../data\\April2021neighbourhoods.csv', '../data\\August2021listings.csv', '../data\\August2021neighbourhoods.csv', '../data\\City_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv', '../data\\December2020listings.csv', '../data\\December2020neighbourhoods.csv', '../data\\feb2021listings.csv', '../data\\feb2021neighbourhoods.csv', '../data\\House Price Index for Nashville.csv', '../data\\January2021listings.csv', '../data\\January2021neighbourhoods.csv', '../data\\July2021listings.csv', '../data\\July2021neighbourhoods.csv', '../data\\June2021listings.csv', '../data\\June2021neighbourhoods.csv', '../data\\Metro_invt_fs_uc_sfrcondo_sm_month.csv', '../data\\Metro_mlp_uc_sfrcondo_sm_month.csv', '../data\\Metro_sales_count_now_uc_sfrcondo_month.csv', '../data\\October2021listings.csv', '../data\\October2021neighbourhoods.csv', '../data\\RDC_Inventory_Core_Metrics_County_History.csv', '../data\\redfin_2021-12-09-17-27-26.csv', '../data\\September2021listings.csv', '../data\\September2021neighbourhoods.csv']

In [8]:
#data is missing march - november and december
combined_months = pd.concat([pd.read_csv(f) for f in all_filenames ])

C:\Users\yashaclone\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [9]:
combined_months.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284274 entries, 0 to 34
Columns: 358 entries, id to LONGITUDE
dtypes: float64(330), object(28)
memory usage: 778.6+ MB

In [14]:
#drops columns that have only NAN values
combined_months.dropna(how='all', axis=1, inplace=True)

In [13]:
combined_months = combined_months.drop(['neighbourhood'], axis=1)

In [15]:
combined_months.head()

,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,$/SQUARE FEET,HOA/MONTH,STATUS,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,6422.0,Nashville Charm,12172.0,Michele,36.17315,-86.73581,Private room,40.0,30.0,674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25613.0,Room in Historic East Nashville Craftsman Home,95811.0,Nell,36.17826,-86.74162,Private room,75.0,2.0,510.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,39870.0,Close to Vanderbilt 2,171184.0,Evelyn,36.12523,-86.81278,Private room,60.0,1.0,262.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,258817.0,ButterflyRoom-private bath- open May 16,22296.0,Diana,36.16249,-86.58988,Private room,29.0,30.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,289242.0,"MorningstarHouse, monthly room- open may 1",22296.0,Diana,36.16102,-86.59207,Private room,28.0,30.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN